
{% extends 'base_accounts.html' %}

{% block form_title %}
<p>Login</p>
{% endblock %}

{% block form %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

 <form method="post" action="{% url 'login' %}">
     {% csrf_token %}
    <div class="input-box">
       {{form.username}}
      <label> {{form.username.label}}</label>
    </div>
    <div class="input-box">
      {{form.password}}
      <label>{{form.password.label}}</label>
    </div>
     
	<input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>


  
  
{% endblock %}